<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id = "v-if-sign-in">
        <h3>V-ifでサインイン</h3>
          <!-- この要素は user が null でないときに表示される -->
          <div v-if="user !== null">
              <button v-on:click = "signOut">サインアウト</button>
              <div>
                  {{ user.name }}さんこんにちは！
              </div>
        　</div>
         <!-- この要素はそれ以外の場合に表示される -->
         <div v-else>
            <button v-on:click = "signIn">サインイン</button>
            <div>
                サインインしてください
            </div>
         </div>
    </div>

    <div id = "v-for-push">
        <h3>v-for　配列に追加</h3>
        <button v-on:click="addAnimal">追加</button>
        <div v-for = "animal in animals">{{animal}}</div>
    </div>

    <div id = "v-bind">
        <h3>v-bind</h3>
        <div v-bind:class = "helloClass">こんにちは</div>

    </div>

    <div id="computed-recalculate">
        <h3>computed</h3>
        <div v-for="item in items">
            <span>
          {{ item.price }} 円の {{ item.name }} が {{ item.amount }} 個あります。
            </span>
            <button v-on:click="addItem(item)">＋１個</button>
        </div>
        <div>全部で{{ totalPrice }}円です。</div>
    </div>

    <div id="v-model">
        <h3>v-model</h3>
        <input type="text" v-model="inputValue" />
        <div>{{ inputValue }}</div>
    </div>

    <div id="created">
        <h3>created</h3>
        <div>{{ memo }}</div>
        <input type="text" v-model="inputValue">
        <button v-on:click="save">保存</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>


</body>
</html>