<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Vue チュートリアル</title>
  </head>
  <body>
    <!-- 👇3.Vueと結びつけたタグの中でVueの構文が使える。👇 -->
    <div id="app">
      <section>
        {{message}}
      </section>
      <!-- v-bindについて -->
      `**v-bind**`は、`v-bind:title`の様に`**v-bind:HTML属性=""**`で書き、HTML属性を`**dataオブジェクト**`のプロパティと結びつけることができます。
`**v-bind**`はVue.jsの開発でかなり頻繁に使われるので、**`v-bind:title`**→ **`:title`**のように`**:**`で省略することができます。
      <section>
        <div v-bind:title="やあ">
          title属性は、ホバーするとテキストを表示させます。
        </div>
        <div v-bind:title="title">
          このテキストにマウスをホバーすると、動的に変わるtitleプロパティが見られます。
        </div>
      </section>

      <!-- v-ifとv-elseについて -->
      <section>
        <span　v-if="seen">今、seenはtrueです。falseに書き換えてみましょう。</span>
        <!-- <span　v-else>今はfalseです</span> -->
      </section>
      <!-- v-forについて -->
      <section>
        <div v-for="todo in todos">
          {{todo.text}}
        </div>
      </section>

      <section>
        <div>
          {{ message }}
        </div>
        <div>
          <button v-on:click="reverseMessage">reverseMessage</button>
        </div>
      </section>

      <section>
        <div>
          {{message}}
        </div>
        <div>
          <input type="text" v-model="message"/>
        </div>
      </section>

    </div>
    <!-- 👇1.CDN経由でscriptタグを使ってVueを読み込む👇 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 👇2.読み込んだ後の行で`new Vue`が使える。👇 -->
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          message: "Vue Devtoolsを使ってこのメッセージを書き換えてみましょう!",
          title: "You loaded this page on " + new Date().toLocaleString(),
          seen: true,
          todos: [
            { text: 'Learn JavaScript' },
            { text: 'Learn Vue' },
            { text: 'Build something awesome' },
          ]

        },
        methods: {
          reverseMessage: function(){
            this.message = this.message.split("").reverse().join("")
          },
        },
      })

      app.todos.push({ text:"pushで追加されたオブジェクトのテキスト"});
    </script>
  </body>
</html>

<!-- === このメッセージは消しても構いません === -->

<!-- ✅ 👈のメニューから一番下の「👬」のアイコンを選んで -->
<!--    Live Modeを「Everyone cab edit」に変更した後、 -->
<!--    「You're live!」の下、「Stop Session」の上、にあるリンクをShareしましょう -->
<!-- ✅ CodeSandBoxはVS Codeとほぼ同じ様に扱えます。 -->
<!-- ✅ 👉にある画面が実行画面です。 -->
<!-- ✅ 👉の👇にある「Console」が実行時のConsoleになります。 -->
<!--    たまに挙動がおかしい時があるので気をつけましょう。 -->

<!-- =============================== -->
