.hero {
    background-color: #f2f7f5;
  }


  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfffe;
    padding: 5rem;
  }

  .hero__figure {
    width: 100%;
    height: 100%;
  }
  
  .hero__figure__img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .about {
    background-color: #00473e;
    color: #00473e;
    padding: 5rem;
  }
  
  .about__wrapper {
    background-color: #f2f7f5;
  }

  .about__wrapper__text {
    margin-top: 1rem;
  }